.FontTituloGr {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFFFFF;
}
#topo_tit {
	margin-top: 35px;
	margin-left: 6px;
}
#subpage {
	padding: 0px;
	margin-top: 2px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
#menustyle {
	height: 55px;
	width: 45px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 9px;
	vertical-align: middle;
	text-align: center;
	cursor: hand;
	color: #FF0000;
	text-decoration: none;
	border: 1px solid #009999;
}
#menutab {
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
}
#conteudo_page {
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
}
input  {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #006666;
	margin-bottom: 5px;
	margin-top: 3px;
	padding-left: 2px;
	color: #003333;
}
a:visited {
	color: #0000FF;
}
a:hover {
	color: #FF0000;
}
.texto_size_10 {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#imgmenu {
	margin-top: 10px;
	margin-bottom: 15px;
}
#titulo_pagina {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #009966;
	padding-left: 5px;
	padding-bottom: 2px;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #003300;
	color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #00CC99;
}
.border {
	border: 1px solid #006666;
}
select {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003333;
	border: 1px solid #006666;
}
textarea {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #006666;
	margin-bottom: 5px;
	margin-top: 3px;
	padding-left: 2px;
	color: #003333;
}
select {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #006666;
	margin-bottom: 5px;
	margin-top: 3px;
	padding-left: 2px;
	color: #003333;
}
#print_vale_topo {
	font-family: tahoma, arial, helvetical, sans-serif;
	font-size: 10px;
	font-weight: bold;
	width: 7cm;
	text-align: center;
}
.line_border_1 {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-left-color: #000000;
}
.line_border_2 {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
}
.line_border_3 {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
}

#breaks {
	page-break-after: always;
}
.div_print_topo {
	width: 6cm;
	text-align: center;
}
.div_print_cola {
	width: 6cm;
	height: 3.5cm;
}
body {
	width: 98%;
	min-width: 95%;
	max-width: 100%;
		
}

#print_table {
	width: 20cm;
}
.red {
	color: #FFFFFF;
	background-color: #FF0000;
	text-align: center;
}
.green {
	color: #000000;
	background-color: #99CC33;
	text-align: center;
}
